<html>
    <body>
        <h1>Admin Panel</h1>
        <h3><a href="show">Select Record</a></h3>
        <h3><a href="update">Updage Record</a></h3>
        <h3><a href="delete">Delete Record</a></h3>
        <h3><a href="/">Home</a></h3>
    </body>
</html>