<html>
    <body>
        <form method="get">
            <input type="text" name="eid" placeholder="Enter Id to delete">
            <input type="submit" value="delete">
        </form>
        <a href="/" >Home</a>
    </body>
</html>