<html>
    <body>
        <h3>Please Signup <a href="signup">SignUp</a></h3>
        <h3>Admin Panel <a href="admin">Admin Panel</a></h3>
        <hr>
        <h3>Please Login</h3>
                    
        <form method="POST" action="login">
            <input type="text" name="username" placeholder="Enter username"><br><br>
            <input type="text" name="userpass" placeholder="Enter password"><br><br>
            <input type="submit" value='Login'>
        </form>
    </body>
</html>