<html>
    <body>
        <h3>insert record</h3>
        <form method="POST" action="login">
            <input type="text" name="username" placeholder="enter the username"><br><br>
            <input type="password" name="userpass" placeholder="enter password"><br><br>
            <input type="submit" value="login">
            
        </form>
        <hr>
        <h3>select record</h3>
        <form method="POST" action="select">
            <input type="text" name="username" placeholder="select user to show"><br><br>
            <input type="submit" value="select">
        </form>
        <hr>
        <h3>update record</h3>
        <form method="POST" action="update">
            <input type="text" name="username" placeholder="select user name to update password"><br><br>
            <input type="password" name="userpass" placeholder="enter password to update"><br><br>
            <input type="submit" value="update">
        </form>
    </body>
</html>
