<html>
    <body>
        <h1>To select all record click here <a href="showAllRecord">Show Record</a></h1>
        <h1>If you want to select particular record enter id..</h1>
        <form method="get" action="showSelect">
            <input type="text" placeholder="Enter id to search">
            <input type="submit" value="click">
        </form>
    </body>
</html>