<html>
    <body>
        <h2>Registration form: please fill details......</h2>
        <hr>
        
        <form method="POST" action="register">
            <input type="text" name="username" placeholder="Enter username"><br><br>
            <input type="text" name="userpass" placeholder="Enter password"><br><br>
            <input type="submit" value="register">
        </form>
    </body>
</html>