<html>
    <body>
        <form action="login">
        <input type="text" name="username" placeholder="enter user name">
    </form>
        <h1>profile with ejs ..... <%=name%></h1>
    </body>
</html>