<html>
    <body>
        <h3>To Update record enter existing id and enter usename and password</h3>
        <hr>

        <form action="update" method="get">
            
            <input type="text" name="username" placeholder="enter user name to update"><br><br>
            <input type="text" name="userpass" placeholder="enter user password"><br><br>
            <input type="text" name="id" placeholder="enter id"><br><br>
            <input type="submit" value="update">
        </form>
    </body>
</html>