<html>
    <body>
        
        <form method="GET" action="welcome">
            <input type="text" name="username" placeholder="enter the username"><br><br>
            <input type="text" name="userpass" placeholder="enter password"><br><br>
            <input type="submit" value="login">
        </form>
    </body>
</html>