<html>
    <body>
        <table>
            <thead><th>id</th><th>id</th><th>id</th><th>id</th></thead>
            <%data.forEach((res)=>{%>
                <tr>
                    <td><%=res.id</td>
                    <td><%=res.username</td>
                    <td><%=res.userdept</td>
                    
                </tr>
                <%})%>
        </table>
    </body>
</html>