<html>
    <body>
        <h2>Signup here <a href="signup">SignUp</a></h2>
        <h2>Admin Panel : <a href="admin">Admin Panel</a></h2>
        <form method="POST" action="welcome">
            <input type="text" name="username" placeholder="enter the username"><br><br>
            <input type="text" name="userpass" placeholder="enter password"><br><br>
            <input type="submit" value="login">
        </form>
    </body>
</html>