<html>
    <body>
        
        <form method="POST" action="welcomesign">
            <input type="text" name="username" placeholder="enter the username"><br><br>
            <input type="text" name="userdept" placeholder="enter the userdept"><br><br>
            <input type="text" name="userpass" placeholder="enter password"><br><br>
            <input type="submit" value="login">
        </form>
    </body>
</html>