<html>
    <body>
        <h1>Delete Emp Record : </h1>
        <h2>Enter Emp id:</h2>
        <form method="POST" action="deleteRec">
            <input type="text" name="id" placeholder="Enter Id to Delete">
            <input type="submit" value="Delete">
        </form>
        <a href="operation">Back to admin</a>
    </body>
</html>