<html>
    <head><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"></head>
    <body>
        <div style="text-align: center;">
        <h1>Admin Panel Desk : </h1>
        <div class="btn-group btn-group-lg">
        <a href="delete" style="text-decoration: none;"><button type="button" class="btn btn-danger">Delete Record</button></a>
        <a href="Update" style="text-decoration: none;"><button type="button" class="btn btn-primary">Update Record</button></a>
        <a href="find" style="text-decoration: none;"><button type="button" class="btn btn-primary">Find Record</button></a>
        <a href="/" style="text-decoration: none;"><button type="button" class="btn btn-primary">Home</button></a>
        <!-- <h2><a href="delete">Delete Record</a></h2>
        <h2><a href="Update">Update Record</a></h2>
        <h2><a href="find">Find Record</a></h2>
        <h2><a href="/">Home</a></h2> -->
    </div>
    </div>
    </body>
</html>