<html>
    <body>
        <h1>Update Record : </h1>
        <form method="POST" action="updaterec">
            <input type="text" name="username" placeholder="Enter username to update"><br><br>
            <input type="text" name="userdept" placeholder="Enter Dept to update"><br><br>
            <input type="text" name="id" placeholder="enter id"><br><br>
            <input type="submit" value="Update">
        </form>
    </body>
</html>