*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #182C61;

}
.calculator{
    width: 240px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.calculator span{
    height: 60px;
    width: 60px;
    line-height: 60px;
    text-align: center;
    background: #eee;
    font-size: 1.2em;
    color: #333;
    font-weight: 500;
}
.calculator span:hover{
    cursor: pointer;
}
.calculator .operations{
    background: #393e46;
    color: #fff;

}
.calculator .clear{
    background: #fd7272;
    color: #fff;
}
.calculator .inputArea{
    grid-column: span 4;
    padding: 20px 10px;
    outline: none;
    border: none;
    font-size: 1.3em;
}
.calculator .plus{
    grid-row: span 2;
    height: 120px;
    line-height: 120px;
}
.calculator .equal{
    grid-column: span 2;
    width: 120px;
    background: #4b7bec;
    font-size: 1.8em;
}
#history{
    width: 240px;
    height: 371.2px;
    overflow-y: scroll;
    font-size: 1.1em;
    background: #4b7bec;
    box-sizing: border-box;
    padding: 10px 20px;
}
#history::-webkit-scrollbar{
    padding: 10px;
}
#history h3{
    padding: 10px 0px;
    font-size: 1.2em;
}
#history p:last-child{
    font-size: 1.3em;
    font-weight: 500;
    color:#eee;
}