<html>
    <body>
        <center>
        <h2><a href='signup'>SignUp</a></h2>
        <form action="login" method="POST">
            <label>Ename: </label><input type="text" name="ename" placeholder="enter emp name"><br><br>
            <label>Esal: </label> <input type="text" name="epass" placeholder="Enter salary"><br><br>            
            <input type="submit" value="Login">
        </form>
    </center>
        
    </body>
</html>