<html>
    <body>
        <center>
        <h1>SignUp Here:</h1>
        <form action="signup" method="POST">
            <label>Ename: </label><input type="text" name="ename" placeholder="enter emp name"><br><br>
            <label>Esal: </label> <input type="text" name="epass" placeholder="Enter salary"><br><br>
            <lable>Edept</lable> <input type="text" name="edept" placeholder="Enter dept"><br><br>
            <input type="submit" value="Login">
        </form>
    </center>
        
    </body>
</html>